<p></p> <!-- Just to put some space here. Some pages have a notice and that does it, so as a workaround a blank paragraph -->
<% provide(:title, "About") %>

<h1>About</h1>
<p>Developed to support <%= link_to "Croatian Run Restaurants in Los Angeles", crores_path, target: :_blank %>, 
but since I was doing it; I may as well lets others use and contribute. And it allowed me write my second Rails/Leaflet project.</p>

<p>Almost all of the initial street history information is from <a href="http://stevemorse.org/census/changes/LosAngelesChanges2.htm">Los Angeles in the 1900s&mdash;Streets of a Hundred Years Ago</a>. I&rsquo;ve added the ability to put that information on a map. <%= link_to  'Morse\'s site', 'http://stevemorse.org/', target: :_blank  %> is a treasure trove of historical and genealogical information. </p>

<p>Just established <%= link_to "Facebook", facebook_path, target: :_blank  %> and <%= link_to "Twitter", twitter_path, target: :_blank  %>.</p>

<p>The historic scanned maps came from sources linked to on the map. The scans were cleaned up using Photoshop Elements (mainly removing the collars). The georeferencing of the individual scanned maps was done using <%= link_to "QGIS", "https://qgis.org/en/site/" %>. Then those were combined and exported as a set of tiles using the QGIS plug-in QTiles.</p>

<p>Leaflet.js provides the core of the mapping with some Mapbox additions. Key add-ons to Leaflet were <%= link_to "Leaflet.ActiveLayers", "https://github.com/vogdb/Leaflet.ActiveLayers", target: :_blank %> and <%= link_to "Leaflet.OpacityControls", "https://github.com/lizardtechblog/Leaflet.OpacityControls", target: :_blank%></p>

<p>Ruby on Rails was used for the site as it provides a good framework for putting together a database driven site. Important to my use of Rails was Michael Hartl's book and. An El Camino College class on Javascript helped with understanding Javascript which is the foundation of Leaflet. The site is hosted on Heroku as it provides an easy entry to hosting Rails. Map tiles are hosted at AWS since there are too many tiles to be included directly in the site.</p>

<p>Without the support of <%= link_to "Stack Overflow", "https://stackoverflow.com/" %> users the site couldn't have happened. Searching there led to the solution of many problems, others were solved just writing up a problem, and others were solved by responses to my posts.</p>

<p>MaptimeLA introduced me to many of the technologies and inspired me to try to make the site. About the time I needed the information on this site, MaptimeLA held meetings at CSUN and UCLA reminding me of the great historical maps available, and CSUN's Chris Salvano mentioned his <%= link_to "San Francisco Historical Street Names Index", "http://www.chrissalvano.com/lost-san-francisco/san-francisco-historical-street-names-index-update", target: "_blank" %> project which suggested a need for a similar repository for Los Angeles.</p>

<p>Also see the <%= link_to "Acknowledgements page", acknowledgements_path %>.</p>

<p>The code is on <%= link_to "GitHub", githublahist_path, target: :_blank %>.</p>
