<p></p> <!-- Just to put some space here. Some pages have a notice and that does it, so as a workaround a blank paragraph -->
<% provide(:title, "Acknowledgements") %>

<h1>Acknowledgements</h1>

<p>This project would not have been possible without MaptimeLA and their recent activities visiting CSUN and UCLA to learn about their map collections. Chris Salvano, now the CSUN map curator, built <%= link_to "San Francisco Historical Street Names Index", "http://www.chrissalvano.com/lost-san-francisco/san-francisco-historical-street-names-index-update" %> which lead me to thinking about this project</p>

<p>This page will be developed, but for now you can look at the <%= link_to "acknowledgements for a related project", "https://secure-shore-68966.herokuapp.com/acknowledgements" %> which uses many of the same resources.</p>

Ruby on Rails<br>
Postgres (PostGIS)<br>
JavaScript<br>
<p><%= link_to "Stackoverflow site and wonderfully helpful people",
"https://stackoverflow.com/questions/14103489/leaflet-layer-control-events/16562033#16562033
https://stackoverflow.com/questions/32695230/leaflet-display-geojson-data-only-when-certain-layer-is-selected/32700994#32700994" %></p>
<p>Special thanks to link <%= link_to "Зелёный", "http://philidor-green.me" %> who walked me through what for me was a major problem with jBuilder</p>
<p><%= link_to "Leaflet and extensions/plugins", "https://github.com/vogdb/Leaflet.ActiveLayers" %>. May have abandoned since doesn't work well with opacitySlider or something like that</p> 
<p><%= link_to "Base layer change", "http://leafletjs.com/reference-1.0.3.html#map-baselayerchange" %></p>
GitHub<br>
Heroku<br>
AWS<br>
<p><%= link_to "Resizes show and edit map to fit width. Probably could extend to height with change in page structure", "https://github.com/davidjbradshaw/image-map-resizer" %></p> 
<p><%= link_to "Opacity Slider", "https://github.com/lizardtechblog/Leaflet.OpacityControls/blob/master/LeafletOpacityDemo.html" %></p>
<p><%= link_to "Zoom level display", "https://github.com/azavea/Leaflet.zoomdisplay" %></p>
<p><%= link_to "Turf.js", "http://turfjs.org/docs/#distance" %> for measuring length of segment.</p>
<p><%= link_to "Leaflet.timeline slider", "https://github.com/skeate/Leaflet.timeline" %></p>
<p><%= link_to "Column sorting", "https://datatables.net/examples/styling/bootstrap4.html" %></p>

<div class="btn btn-primary active">
  <%= link_to 'To List of Historic Street Names', streets_path %>
</div>
