<% provide(:title, "Home") %>
<div class="jumbotron">
<%#= image_tag("hill-header.jpg",  alt: "Nice old map") %>
<%= image_pack_tag "media/images/hill-header.jpg", alt: "Nice old map" %>
<br><br>
<h1>Historic Street Names in Los Angeles, California</h1>

<p>A compilation of the history of the street name changes in Los Angeles and those changed street segments are shown on a <%= link_to "map", overview_path %>. Currently <%= Street.count %> historic street names are listed, and <%= Street.count(:extent_json) %> have been located and drawn so they can be seen altogether <%= link_to "here", overview_path %> or individually, for example, for <%= link_to "Beaudry", "/streets/63" %>.</p>

<p>I started this to support <%= link_to "Croatian Run Restaurants in Los Angeles 1880—1930", "https://secure-shore-68966.herokuapp.com", target: "_blank" %>
but then saw a general need and was able to leverage the extensive list published by Steve Morse: 
<%= link_to "Los Angeles in the 1900s—Streets of a Hundred Years Ago", "http://stevemorse.org/census/changes/LosAngelesChanges2.htm", target: "_blank" %>. 
<%= link_to "Morse's site", "http://stevemorse.org/" , target: "_blank"%> is a treasure trove of historical and genealogical information. Almost all of the street changes are from Morse. I've added the ability to put that information on a map and have been mapping the entries. </p>
<p>Have to add earliest Spanish names shown on some maps, e.g, Calle de las Primavera for Spring. Were those official? They&rsquo;re on an 1857 Bancock and Thayer et.al. map.</p>

<p>Inspired by <%= link_to "Chris Salvano's San Francisco Historical Street Names Index", "http://www.chrissalvano.com/lost-san-francisco/san-francisco-historical-street-names-index-update", target: "_blank" %> and <%= link_to "MaptimeLA", "http://www.meetup.com/MaptimeLA/" , target: "_blank"%>  people, workshops and tutorials.

<p>The historic maps can be slow to appear. The coverage of the maps varies and sometimes no map will be available for the area of interest.</p>

<p>To add content or add a street to the map, start by  <%= link_to "signing up", signup_path %>.</p>

<p>For now I'm focusing the list on the City of Los Angeles, but should allow for other cities in the county. Here's a link to street name history for <%= link_to "Redondo Beach", "http://www.redondohistorical.org/?page_id=858", target: "_blank"%> at the Redondo Beach Historical Society</p>

<h3>Other resources</h3>

<p><%= link_to "Pacific Coast Architecture Database", "https://pcad.lib.washington.edu" %> includes a range of information on the buildings and architects of California, Oregon and Washington. For example, <%= link_to "The Temple Block #1", "https://pcad.lib.washington.edu/building/22545/" %>.</p>
