<!--Used by maps>edit-->
<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :map_name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :map_year %>
  </div>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :map_title %>
  </div>
  
  
  <div class="field">
    <%= form.label :zoom %>
    <%= form.text_field :zoom, id: :map_zoom %>
  </div>
  
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :map_notes %>
  </div>

  <div class="field">
    <%= form.label "Server URL (tile server)" %>
    <%= form.text_area :server_url, id: :map_server_url %>
  </div>

  <div class="field">
    <%= form.label "Attribution Link" %>
    <%= form.text_area :attribLink, id: :map_attribLink %>
  </div>

  <div class="field">
    <%= form.label :attrib %>
    <%= form.text_field :attrib, id: :map_attrib %>
  </div>
  
  <div class="field">
    <%= form.label "Original map link" %>
    <%= form.text_area :source_url, id: :map_source_url %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
