<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @map.year %>
</p>

<p>
  <strong>Max Zoom:</strong>
  <%= @map.zoom %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @map.notes %>
</p>

<p>
  <strong>Map Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Map Server URL:</strong>
  <%= @map.server_url %>
</p>

<p>
  <strong>Attribution URL:</strong>
  <%= @map.attribLink %>
</p>

<p>
  <strong>Attribution Text:</strong>
  <%= @map.attrib %>
</p>

<p>
  <strong>Original Map Source URL:</strong>
  <%= @map.source_url %>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Maps List', maps_path %>
