<% provide(:title, 'Sign up') %>
<h1 class="text-left">Sign up</h1>

<h4>Don't bother as any accounts created now will be deleted during continuing beta development.  You may explore the site. If you want to try and edit you can create an account, but it will be deleted at some point, maybe sooner than later.</h4>
<h5>However please email me any comments. See <%= link_to "Contact", contact_path %> page</h5>
<p>Thank you for your patience. I hope to have this operational soon.</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
