<!-- _form.html.erb used by Street > Edit (but largely duplicates _form.html.erb TODO take out the ) -->
<div class="container-fluid">

  <p>This is for a street name from Previous Name/Earliest Date to Current Name/Latest Date</p>
    <div class="row"> <!-- Setting up to have two columns -->
       <div class="col-4"> <!--Left hand column. Set one row width and the others will fit in Bootstrap 4.  https://v4-alpha.getbootstrap.com/layout/grid/#setting-one-column-width -->
        <%= form_with(model: street, local: true) do |form| %> <!-- form_with is replacing form_for. I didn't have the @in front of street for a long time Feb. 2018 -->
          <% if street.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(street.errors.count, "error") %> prohibited this street from being saved:</h2>

              <ul>
              <% street.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-inputs">
            <div class="field">
              <%= form.label "City" %>
              <%= form.text_field :city, id: :street_city %>
            </div>

            <div class="field">
              <%= form.label "Previous Name" %>
              <%= form.text_field :previous_name, id: :street_previous_name, placeholder: "Street name before 'Earliest confirmed date' below" %>
            </div>

            <div class="field">
              <%= form.label "Current Street Name" %>
              <%= form.text_field :current_name, id: :street_current_name, placeholder: "Street name between the dates below", :size=>"95%" %> <!-- whether size or maxlength it goes full -->
            </div>

            <div class="row">
              <div class="col-lg-12 text-center font-bold">For Current Street Name</div>
              <div class="field col-lg-6">
                <%= form.label "Earliest Confirmed Date" %>
                <%= form.text_field :date_earliest, id: :street_date_earliest %>
              </div>

              <div class="field col">
                <%= form.label "Latest Confirmed Date" %>
                <%= form.text_field :date_latest, id: :street_date_latest %>
              </div>
            </div>

              <div class="field">
                <%= form.label "Entry covers from cross street to cross street or similar" %>
                <%= form.text_area :cross_streets, id: :street_cross_streets, :maxlength=>"100%", placeholder: "Main St to Alameda Ave" %>
              </div>

            <div class="row"> <!-- row so can have two columns -->
              <p class="col-lg-12 text-center font-bold">Extent of This Item</p>
              <div class="field col-lg-6">
                <%= form.label "Number of Blocks" %>
                <%= form.text_field :number_of_blocks, id: :street_number_of_blocks, placeholder: "Approximate number is OK" %>
              </div>

              <div class="field col">
                <%= form.label "Length of segment, miles" %>
                <%= form.text_field :extent_length, id: :street_extent_length, placeholder: "Will be filled in when line is drawn" %>
              </div>
            </div> <!-- ends the row -->

            <div class="col-lg-12">
              <p class="text-center font-bold">Reference Maps</p> 
            <%= form.collection_check_boxes( :map_ids, @maps, :id, :name, bootstrap: {check_inline: true}, class: "") do |b|
            b.label(:"data-value" => b.value) { b.check_box + b.text }
          end %> <!-- @maps (sorted by date) or Maps.all (sorted by entry order) -->
<!-- collection_check_boxes is a plain Rails method. -->
            </div>

            <hr>  <!-- Something wrong with the formatting, without this no new line. Now doesn't work with fancy loop above for labels-->

            <div class="col-lg-12">
              <span class="font-bold">References not available in the checkboxes above.</span> (For older entries, please check the appropriate boxes and delete now duplicate references below.)
            </div>

            <div class="field">
              <%= form.label "Reference 1" %>
              <%= form.text_area :ref1, id: :street_ref1, :maxlength=>"95%", placeholder: "For maps or sources not checked above" %> <!-- maxlength no effect -->
            </div>

            <div class="field">
              <%= form.label "Reference 2" %>
              <%= form.text_area :ref2, id: :street_ref2 %>
            </div>

            <div class="field">
              <%= form.label "Reference 3" %>
              <%= form.text_area :ref3, id: :street_ref3 %>
            </div>

            <div class="field">
              <%= form.label :notes %>
              <%= form.text_area :notes, id: :street_notes, placeholder: "Any other useful information" %>
            </div>

            <div class="field">
              <%= form.label "Extent as JSON [lng lat]" %>
              <%= form.text_field :extent_json, id: :street_extent_json, placeholder: "Will be automagically filled in when line is drawn! Won't be shown in final release." %>
            </div>
            <% if @street.extent_array? %>
              <div class="field">
                <%= form.label "Extend as string (array lat lng)This column is replaced by the one above and will be removed." %>
                <%= form.text_area :extent_array, id: :street_extent_array, placeholder: "Not currently being used except for pre-existing entries." %>
              </div>
             <% end %>
            <div class="actions">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          </div> <!-- end form-inputs -->
        <% end %> <!-- End of form -->
       </div> <!-- end col-4, the left hand column -->

       <!-- The next two columns -->
       <%= render 'map_and_control_and_draw' %> <!-- middle column with map -->
       <%= render 'overlaymap_selector' %>   <!-- the third column for selector basemap --> 

  </div> <!-- end row -->

</div>  <!-- end container-fluid -->
