<%= form_with(model: street, local: true) do |form| %>
  <% if street.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(street.errors.count, "error") %> prohibited this street from being saved:</h2>

      <ul>
      <% street.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prevName %>
    <%= form.text_field :prevName, id: :street_prevName %>
  </div>

  <div class="field">
    <%= form.label :currentName %>
    <%= form.text_field :currentName, id: :street_currentName %>
  </div>

  <div class="field">
    <%= form.label :dateEarliest %>
    <%= form.date_select :dateEarliest, id: :street_dateEarliest %>
  </div>

  <div class="field">
    <%= form.label :dateLatest %>
    <%= form.date_select :dateLatest, id: :street_dateLatest %>
  </div>

  <div class="field">
    <%= form.label :extent %>
    <%= form.text_field :extent, id: :street_extent %>
  </div>

  <div class="field">
    <%= form.label :numBlocks %>
    <%= form.text_field :numBlocks, id: :street_numBlocks %>
  </div>

  <div class="field">
    <%= form.label :ref1 %>
    <%= form.text_area :ref1, id: :street_ref1 %>
  </div>

  <div class="field">
    <%= form.label :ref2 %>
    <%= form.text_area :ref2, id: :street_ref2 %>
  </div>

  <div class="field">
    <%= form.label :ref3 %>
    <%= form.text_area :ref3, id: :street_ref3 %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :street_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
