<p id="notice"><%= notice %></p>
<% provide(:title, "Drawing and Editing Historical Streets") %>
<h1>Drawing and Editing Historical Streets</h1>
<p><strong>Use controls at right to select basemap.<br>
  Then use the draw tool (left) <%= image_tag "DrawTool.png", :title => "title", :class => "class", :size => '40px'  %> to trace the portion of the street.</strong></p>

<%= render 'form', street: @street %>

<%= link_to 'Cancel', @street %> |
<%= link_to 'To Street List Without Saving', streets_path %>
