<p id="notice"><%= notice %></p>
<title><%= full_title(yield(:title)) %></title>
<h1>Historical Street names in Los Angeles</h1>

<table>
  <thead>
    <tr>
      <th>Previous Name</th>
      <th>Earliest Date for Prev Name</th>
      <th>Current (Latest)</th>
      <th>Latest Date</th>
      <th>Cross Streets</th>
      <th>Approx. Number of Blocks</th>
      <th>Extent GIS</th>
      <th>Reference 1</th>
      <th>Reference 2</th>
      <th>Reference 3</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streets.each do |street| %>
      <tr>
        <td><%= street.prevName %></td>
        <td><%= street.dateEarliest %></td>
        <td><%= street.currentName %></td>
        <td><%= street.dateLatest %></td>
        <td><%= street.where%></td>
        <td><%= street.numBlocks %></td>
        <td><%= street.extent%></td>
        <td><%= street.ref1 %></td>
        <td><%= street.ref2 %></td>
        <td><%= street.ref3 %></td>
        <td><%= street.notes %></td>
        <td><%= link_to 'Show', street %></td>
        <td><%= link_to 'Edit', edit_street_path(street) %></td>
        <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>	
<!-- < if logged_in? %> Add back % at beginning -->
<br>
	<button type="button" class="btn btn-primary-outline" >
	<%= link_to 'New Street Entry in a form', new_street_path %>
	</button>
  
	<button type="button" class="btn btn-primary-outline" >
	<%= link_to 'New Street Entry in a table', jqgrid_path %>
	</button>

<!-- end %> Add back % at beginning-->

