<p id="notice"><%= notice %></p>

<h1>Streets</h1>

<table>
  <thead>
    <tr>
      <th>Prevname</th>
      <th>Currentname</th>
      <th>Dateearliest</th>
      <th>Datelatest</th>
      <th>Extent</th>
      <th>Numblocks</th>
      <th>Ref1</th>
      <th>Ref2</th>
      <th>Ref3</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streets.each do |street| %>
      <tr>
        <td><%= street.prevName %></td>
        <td><%= street.currentName %></td>
        <td><%= street.dateEarliest %></td>
        <td><%= street.dateLatest %></td>
        <td><%= street.extent %></td>
        <td><%= street.numBlocks %></td>
        <td><%= street.ref1 %></td>
        <td><%= street.ref2 %></td>
        <td><%= street.ref3 %></td>
        <td><%= street.notes %></td>
        <td><%= link_to 'Show', street %></td>
        <td><%= link_to 'Edit', edit_street_path(street) %></td>
        <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Street', new_street_path %>
