<p id="notice"><%= notice %></p>
<!-- <%= full_title(yield(:title)) %> -->
<% provide(:title, @street) %>
<!-- <h1>Historic Street Name Changes in Los Angeles</h1> -->

<!-- Four columns to organize buttons and such on top of the page below the nav bar -->
<div class="search-in-index"> <!-- Was class="container" but cut off part of the table -->
  <div class="row">
    <div class="col-sm">
      <% if logged_in? %>
        <button type="button" class="btn btn-outline-primary" >
          <%= link_to 'Add New Historic Street', new_street_path %>
        </button>
      <% end %>
    </div>
    <div class="col-sm"> <!-- Note that an if else is in this column and affects the rest of the page -->
      <% if @streets.blank? %>
        <p class="font-bold-red">Nothing found.</p>
        <%= render 'search_streets' %>
        <button type="button" class="btn btn-primary" >
          <%= link_to 'Back to all Streets', streets_path %>
        </button>
      <% else %>  <!-- Show the table of found or all streets -->
    </div>
<!-- Search broken into two columns to get side by side. TODO should be able to use _search_streets.html.erb but it stacks in this format -->
    <div class="col-sm">
      <%= form_tag(streets_path, method: "get", class:"form-inline mt-2 mt-md-0", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "btn-outline-success form-control mr-sm-2 text-right", placeholder: "Search for…"  %>
    </div>
    <div class="col-sm">
      <%= button_tag(('<i class="fa fa-search"> Submit Search</i>').html_safe, class: "btn btn-outline-success my-2 my-sm-0", :name => nil) %>
      <% end %>
  </div>
</div> <!-- End container for items above. Kind of secondary nav bar -->

<!-- < = will_paginate %> Following Hartl  -->
  <!-- table table-striped table-hover table-responsive - - Losses vertical centering -->
  <table class="search-in-index streets pretty table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>City if not LA</th>
        <th>Previous Name</th>
        <th>Earliest Date for Prev Name</th>
        <th>Current (Latest)</th>
        <th>Latest Date</th>
        <th>Cross Streets</th>
        <th>Approx. Number of Blocks</th>
        <th>Section Drawn?</th>
        <th>Ref. 1</th>
        <th>Ref. 2</th>
        <th>Ref. 3</th>
        <th>Notes</th>
        <th colspan="3">Details</th>
      </tr>
    </thead>

    <tbody>
      <% for street in @streets %>
        <tr>
          <td><% if street.city != "Los Angeles" %><%= street.city %><% end %></td>
          <td><%= street.previous_name %></td>
          <td><%= street.date_earliest %></td>
          <td><%= street.current_name %></td>
          <td><%= street.date_latest %></td>
          <td><%= street.cross_streets %></td>
          <td><%= street.number_of_blocks %></td>
            <% if street.extent_json? || street.extent_array? %>
              <td class="extent-yes">Yes</td>
            <% else %>
              <td class='extent-no'>No</td>
            <% end %>
          <td><%= street.ref1 %></td>
          <td><%= street.ref2 %></td>
          <td><%= street.ref3 %></td>
          <td><%= street.notes %></td>
          <td><%= link_to 'Show', street, class: "text-success" %></td>
          <% if logged_in? %>
            <td><%= link_to 'Edit', edit_street_path(street) %></td>
            <td><%= link_to 'Destroy', street, class: "text-danger", method: :delete, data: { confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- < = will_paginate %> -->

  <footer class="footer">
    <div class="container">
      <p>References</p>
      <p class="text-muted">Baist: Georeferenced against 1921 Baist Insurance maps to contemporary (~ 2017 Bing and OSM)</p>
      <p class="text-muted">* Morse:	http://stevemorse.org/census/changes/LosAngelesChanges2.htm</p>
      <p class="text-muted">** Morse: http://stevemorse.org/census/changes/LosAngelesChanges1.htm</p>
    </div>
  </footer>
  <% end %> <!-- if @streets.blank? -->
<br><br>
<% if logged_in? %>
  <button type="button" class="btn btn-outline-primary" >
    <%= link_to 'New Historic Street', new_street_path %>
  </button>
<% end %>