<p id="notice"><%= notice %></p>
<!-- <%= full_title(yield(:title)) %> -->
<% provide(:title, "List of") %>
<!-- Only need for streets index, but is this the best place to put this? Also a script at bottom of page. Seems to work -->

<!-- Next 10 lines and script at bottom trying data-tables, but got a jQuery error. -->
<!-- https://datatables.net/examples/styling/bootstrap4.html -->
<!-- https://datatables.net/download/ to get custom .js and .css -->
<link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/cr-1.4.1/fh-3.1.3/r-2.2.1/datatables.min.css"/>
 
<!-- Generic scripts -->
<!-- <script src = "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->
<!-- <script src = "https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script> -->

<!-- Custom script -->
<script src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/cr-1.4.1/fh-3.1.3/r-2.2.1/datatables.min.js"></script>

<!-- <h1>Historic Street Name Changes in Los Angeles</h1> -->

    <div class="col-sm">
      <% if logged_in? %>
        <button type="button" class="btn btn-outline-primary" >
          <%= link_to 'Add New Historic Street', new_street_path %>
        </button>
      <% end %>
    </div>

    <div class="col-sm"> <!-- Note that an if else is in this column and affects the rest of the page -->
      <% if @streets.blank? %>
      <br>
        <p class="font-bold-red">Nothing found. 
         <button type="button" class="btn btn-outline-primary" >
           <%= link_to 'Show All Streets', streets_path %>
         </button> or search again above.
         </p>
         <!-- Show the table of found. Or all streets TODO  -->
      <% else %> <!-- The end is near the bottom, so blank table won't be shown if nothing found. -->
    </div>

<!-- table table-striped table-hover table-responsive - - Losses vertical centering -->
<!-- id data-table is for the js of that name, data-toggle is for bootstrap-table-rails -->
  <table id="data-table" data-toggle="table" class="search-in-index streets pretty table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>City</th>  <!-- if not LA -->
        <th>Previous Name</th>
        <th>Earliest Date for Prev Name</th>
        <th>Current (Latest)</th>
        <th>Latest Date</th>
        <th>Cross Streets</th>
        <th>Approx. Number of Blocks / miles</th> <!-- / miles -->
        <th>Ref. 1</th>
        <th>Ref. 2</th>
        <th>Ref. 3</th>
        <th>Notes</th>
        <th>Section Drawn?</th>
        <th>Details</th>
        <% if logged_in? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% for street in @streets %>
        <tr>
          <!-- <td><%# if street.city != "Los Angeles" %><%#= street.city %><%# end %></td> -->
          <td><% street.city != "Los Angeles" %> ? <%= street.city : "LA"%><% end %></td>
          <td><%= street.previous_name %></td>
          <td><%= street.date_earliest %></td>
          <td><%= street.current_name %></td>
          <td><%= street.date_latest %></td>
          <td><%= street.cross_streets %></td>
          <td><%= street.number_of_blocks %> / <%= number_to_human(street.extent_miles, precision: 2, significant: true, strip_insignificant_zeros: true) %> </td>
          <td><%= street.ref1 %></td>
          <td><%= street.ref2 %></td>
          <td><%= street.ref3 %></td>
          <td><%= street.notes %></td>
          <% if street.extent_json? || street.extent_array? %>
            <td class="extent-yes">Yes</td>
          <% else %>
            <td class='extent-no'>No</td>
          <% end %>
          <td><%= link_to 'Show', street, class: "text-success" %></td>
          <% if logged_in? %>
            <td><%= link_to 'Edit', edit_street_path(street) %></td>
            <!-- <td/>< = link_to 'Duplicate', dup_street_path, action: "dup", data: { confirm: 'This will make a duplicate for editing into a new entry.'} %></tr> -->
            <td><%= link_to 'Destroy', street, class: "text-danger", method: :delete, data: { confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
      <% end %> <!-- If no streets found in search, the table is hidden -->
    </tbody>
  </table>

  <footer class="footer">
    <div class="container">
      <p>References</p>
      <p class="text-muted">&nbsp;&nbsp;*&nbsp;&nbsp; <%= link_to ' Morse: http://stevemorse.org/census/changes/LosAngelesChanges2.htm', 'http://stevemorse.org/census/changes/LosAngelesChanges2.htm', target: "_blank" %></p>
      <p class="text-muted">&nbsp;&nbsp;** <%= link_to 'Morse: http://stevemorse.org/census/changes/LosAngelesChanges1.htm', 'http://stevemorse.org/census/changes/LosAngelesChanges1.htm', target: "_blank" %></p>
    </div>
  </footer>
  <% end %> <!-- if @streets.blank? -->
<br><br>
<% if logged_in? %>
  <button type="button" class="btn btn-outline-primary" >
    <%= link_to 'Add New Historic Street', new_street_path %>
  </button>
<% end %>

<!-- https://datatables.net/manual/options -->
<script>
  $(document).ready(function() {
      $('#data-table').DataTable( {
        "columnDefs": [
          { "orderable": false, "targets": [5,7,8,9,10,12,13,14] } // the numbered columns don't have sorting option https://datatables.net/reference/option/columns.orderable
          ]
        // paging: false, // these two do work, but need to open up the table length a bit
        // scrollY: 400
      });
  } );
</script>
  