<% provide(:title, @street.previous_name) %>
<p></p>
<h1>Historic Street Name</h1>

<div class="row">
  <div class="col-4">  <!-- Data list  Col 1 of 3-->
    <% if @street.city != "Los Angeles" %>
      <p>
        <strong>City:</strong>
        <%= @street.city %>
      </p>
    <% end %>

    <p>
      <strong>Previous Street Name:</strong>
      <%= @street.previous_name %>
    </p>

    <p>
      <strong>&lsquo;Current/Next&rsquo; Street Name:</strong>
      <%= @street.current_name %>
    </p>

    <p>
      <strong>Earliest Date for &lsquo;Previous&rsquo; Name:</strong>
      <%= @street.date_earliest %>
    </p>

    <p>
      <strong>Latest Date for &lsquo;Previous&rsquo; Name:&nbsp;&nbsp;</strong>
      <%= @street.date_latest %>
    </p>

    <p>
      <strong>Entry covers from cross street to cross street or similar:</strong>
      <%= @street.cross_streets %>
    </p>
    <p>
      <strong>Approximate Number of Blocks:</strong>
      <%= @street.number_of_blocks %>
    </p>
    
    <p>
      <strong>Length of segment:</strong>
      <%= number_to_human(@street.extent_length, precision: 2, significant: true, strip_insignificant_zeros: true) %> miles <!--.round(2) round sometimes errors, but this seems to work -->
    </p>
    
    <p>
      <strong>TESTING Length of segment TESTING:</strong>
      <%= @street.extent_miles %>
    </p>

    <p> <strong>Map used to confirm street name changes):</strong> 
      <% if @street.maps.any? %>
        <% for map in @street.maps %>
          <br>&nbsp;&nbsp;<span class="map-list"><%= map.name %></span>
        <% end %>
      <% end %>
    </p>
    
    <% if @street.ref1? %>
      <p>
        <strong>Reference 1:</strong>
        <%= @street.ref1 %>
      </p>
    <% end %>
    
    <% if @street.ref2? %>
      <p>
        <strong>Reference 2:</strong>
        <%= @street.ref2 %>
      </p>
    <% end %>

    <% if @street.ref3? %>
      <p>
        <strong>Reference 3:</strong>
        <%= @street.ref3 %>
      </p>
    <% end %>

    <p>
      <strong>Notes:</strong>
      <%= @street.notes %>
    </p>
<hr>
    <p class="json-extent">
      <strong>Extent as JSON: [lng lat]</strong>
      <%= @street.extent_json %>
    </p>
    <% if @street.extent_array? %>
      <p class="json-extent">
        <strong>Extent as Coordinate Array (string): [lat lng]</strong>
        <%= @street.extent_array %>
      </p>
    <% end %>

    <p>
      <strong>Updated:</strong>
      <%= @street.updated_at.to_formatted_s(:long) %>
    </p>

    <% if logged_in? %>
      <p>
        <strong>Current User</strong>
        <%= current_user.name %>
      </p>
      <%= link_to 'Edit', edit_street_path(@street), class: "btn btn-outline-primary" %>
    <% end  %> <!-- if logged in -->
    <br><br>

    <%= link_to 'Street List', streets_path, class: "btn btn-outline-primary" %>
    <br>
    <% if logged_in? %>
      <%= link_to 'New Historic Street Entry', new_street_path, class: 'btn btn-outline-primary' %>
      <%= link_to 'Duplicate This Entry', dup_street_path(id: @street.id), action: "dup", class: "btn btn-outline-primary" %>   
    <% end %>  <!-- if logged in -->

  </div> <!-- end col-4 Left col-->

<%= render 'map_and_control' %>  <!-- middle column with map (should be named map or show_map)-->

<%= render 'overlaymap_selector' %> <!-- last column with basemap selector -->

</div> <!-- end row which is basically the page -->
