<p id="notice"><%= notice %></p>
<% provide(:title, @street.prevName) %>
<h2>Historic Street Name</h2>

  <div class="row">
    <div class="col-4">
      <p>
        <strong>Previous Street Name:</strong>
        <%= @street.prevName %>
      </p>

      <p>
        <strong>'Current' Street Name:</strong>
        <%= @street.currentName %>
      </p>

      <p>
        <strong>Earliest Date for 'Current' Name:</strong>
        <%= @street.dateEarliest %>
      </p>

      <p>
        <strong>Latest Date for 'Current' Name:</strong>
        <%= @street.dateLatest %>
      </p>

      <p>
        <strong>Entry covers from cross street to cross street or similar:</strong>
        <%= @street.where %>
      </p>

      <p>
        <strong>FYI: Extent as Geometry:</strong>
        <%= @street.extent %>
      </p>

      <p>
        <strong>Extent as Coordinate Array:</strong>
        <%= @street.extent_array %>
      </p>

      <p>
        <strong>Approximate Number of Blocks:</strong>
        <%= @street.numBlocks %>
      </p>

      <p>
        <strong>Reference 1:</strong>
        <%= @street.ref1 %>
      </p>

      <p>
        <strong>Reference 2:</strong>
        <%= @street.ref2 %>
      </p>

      <p>
        <strong>Reference 3:</strong>
        <%= @street.ref3 %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @street.notes %>
      </p>    
    </div> <!-- end col-4 -->

    <div class="col">
      <br/>
      <%= render 'leafletmap_show' %>
    </div>
  </div>
  <% if logged_in? %>
    <button type="button" class="btn btn-primary-outline" >
      <%= link_to 'Edit', edit_street_path(@street) %>
    </button>
  <% end  %>

  <button type="button" class="btn btn-primary-outline" >
    <%= link_to 'Back to Street List', streets_path %> 
  </button>

  <% if logged_in? %>
    <button type="button" class="btn btn-primary-outline" >
      <%= link_to 'New Historic Street Entry', new_street_path %>
    </button>
  <% end  %>
