<p id="notice"><%= notice %></p>

<p>
  <strong>Prevname:</strong>
  <%= @street.prevName %>
</p>

<p>
  <strong>Currentname:</strong>
  <%= @street.currentName %>
</p>

<p>
  <strong>Dateearliest:</strong>
  <%= @street.dateEarliest %>
</p>

<p>
  <strong>Datelatest:</strong>
  <%= @street.dateLatest %>
</p>

<p>
  <strong>Where:</strong>
  <%= @street.where %>
</p>

<p>
  <strong>Extent:</strong>
  <%= @street.extent %>
</p>

<p>
  <strong>Numblocks:</strong>
  <%= @street.numBlocks %>
</p>

<p>
  <strong>Ref1:</strong>
  <%= @street.ref1 %>
</p>

<p>
  <strong>Ref2:</strong>
  <%= @street.ref2 %>
</p>

<p>
  <strong>Ref3:</strong>
  <%= @street.ref3 %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @street.notes %>
</p>

<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
