<p id="notice"><%= notice %></p>
<% provide(:title, @street.prevName) %>
<h1>Historic Street Name</h1>

  <div class="row">
    <div class="col-4">
      <% if @street.city != "Los Angeles" %>
        <p>
          <strong>City:</strong>
          <%= @street.city %>
        </p>
      <% end %>
      
      <p>
        <strong>Previous Street Name:</strong>
        <%= @street.prevName %>
      </p>

      <p>
        <strong>'Current/Next' Street Name:</strong>
        <%= @street.currentName %>
      </p>

      <p>
        <strong>Earliest Date for 'Previous' Name:</strong>
        <%= @street.dateEarliest %>
      </p>

      <p>
        <strong>Latest Date for 'Previous' Name:</strong>
        <%= @street.dateLatest %>
      </p>

      <p>
        <strong>Entry covers from cross street to cross street or similar:</strong>
        <%= @street.where %>
      </p>

      <p>
        <strong>Extent as JSON:</strong>
        <%= @street.extent_json %>
      </p>

      <p>
        <strong>Extent as Coordinate Array:</strong>
        <%= @street.extent_array %>
      </p>

      <p>
        <strong>Approximate Number of Blocks:</strong>
        <%= @street.numBlocks %>
      </p>

      <p>
        <strong>Reference 1:</strong>
        <%= @street.ref1 %>
      </p>

      <p>
        <strong>Reference 2:</strong>
        <%= @street.ref2 %>
      </p>

      <p>
        <strong>Reference 3:</strong>
        <%= @street.ref3 %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @street.notes %>
      </p>
      
  		<p>
  		  <strong>Updated:</strong>
  		  <%= @street.updated_at.to_formatted_s(:long) %>
  		</p>
    </div> <!-- end col-4 -->

    <div class="col card">
      <p class="font-bold-red">If no map shows up when you choose a map, zoom out. But the map may not cover that region, so try another map.</p>
      <br/>
      <!-- <= render 'leafletmap_show' %> -->
      
      <div id="map"></div>
        <script>
          // showMap() is in assets/javascripts/streets.js 
             // var dateEarliest = <%= @street.dateEarliest %>;
             // var currentName  = "<%= @street.currentName %>";
             // var dateLatest   = <%= @street.dateLatest %>;
           var changeOverlay = function () {
             console.log("92. Change overlay needs to happen");
             alert("changeOverlay");
           } 
             
          var popupText = "&le;<%= @street.dateEarliest %><br><%= @street.prevName %><br>&ge;<%= @street.dateLatest %><br><%= @street.currentName %>";
          // $(document).on('ready page:load', function() { // have to reload to get page to show
          $(document).on('turbolinks:load', function() { 
            // The turbolinks:load part may not be needed https://stackoverflow.com/questions/18770517/rails-4-how-to-use-document-ready-with-turbo-links
             showMap(popupText);
          });
        </script>

    </div>  <!-- col middle -->

    <div id="select-overlay" class="col-1">
      <!-- Need to make stand out. border not doing anything look at cards in v4, but didn't help on simple try -->
      <p class="border-0 rounded">Select map for overlay [Not functioning yet].<br>
                                  Select basemap using control on top right of map.</p>
      <% @maps.each do |map| %>
        <%= radio_button_tag(:name, map.id) %> <!-- by first field being the same for all (:name) only one can be selected.  -->
        <%= label_tag(:map_name, map.name) %>
      <% end %>
      
      <!-- Example and output -->
        <!-- < = radio_button_tag(:age, "child") %>
        < = label_tag(:age_child, "I am younger than 21") %> -->
        <!-- <input type="radio" name="age" id="age_child" value="child" />
        <label for="age_child">I am younger than 21</label> -->
    </div> <!-- end col-1 last -->

  </div> <!-- end row which is basically the page -->
  <% if logged_in? %>
    <button type="button" class="btn btn-primary-outline" >
      <%= link_to 'Edit', edit_street_path(@street) %>
    </button>
  <% end  %>

  <button type="button" class="btn btn-primary-outline" >
    <%= link_to 'Back to Street List', streets_path %> 
  </button>

  <% if logged_in? %>
    <button type="button" class="btn btn-primary-outline" >
      <%= link_to 'New Historic Street Entry', new_street_path %>
    </button>
  <% end  %>
