<footer class="footer">
  <small>
    <!-- The <a href="">Original material from</a>
    and <a href="">TBD</a> -->
  </small>
  <nav>
    <ul>
      <li><a href="<%= twitter_path %>"> <i class="fa fa-twitter"></i></a></li>
      <li><a href="<%= facebook_path %>"><i class="fa fa-facebook"></i></a></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Acknowledgements", acknowledgements_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", knobby_path, target: :_blank  %></li>
      <li>&nbsp;</li>
    </ul>
  </nav>
</footer>