<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Greg S">

    <!-- mapbox.js 3.1.1 current as of 21 Dec 17. mapbox.js is supposed to include Leaflet-->
    <!-- https://api.mapbox.com/mapbox.js/v3.1.1/ for links below -->
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link  href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <!-- Changed to below 23 Sept 17 based on GitHub gon (was just include_gon) Although they appear to give the same result for now. -->
    <%= Gon::Base.render_data %>
    <%= render 'layouts/shim' %> <!-- for IE9 -->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid"> <!-- class="container" has meaning to Bootstrap, but currently crops streets table, Container-fluid fixes that -->
      <% flash.each do |message_type, message| %> <!-- Hartl Listing 7.31, 7.35 plus paper_trail-->
        <%= content_tag(:div, raw(message), class: "alert alert-#{message_type}") %>
      <% end %>
      
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %> <!-- Hartl 7.1.1 -->
  </body>
</html>
